.pfp {
    border-radius: 50%;
    width: 200px;
    height: 200px;
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url('./pfp.png');
    background-size: cover;
    border: 3px solid black;
  }

  .name {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2em;
    font-weight: 700;
    color: black;
  }

  .personal-id {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5em;
    font-weight: 700;
    color: darkgray;
  }