.field 
{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #F5F2F2;
    cursor: pointer;transition: border-color 0.25s;
    border-color: darkgray;
}

.input 
{
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    width: 300px;
    font-family: inherit;
    background-color: #FBFBFB;
    cursor: pointer;
    transition: border-color 0.25s;
}